doctype html
html
    head
        title= title
        meta(charset="utf-8")
        link(rel="stylesheet" , href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/styleLogin.css")

    body.text-center
    block content

    script(src="/js/jquery-3.3.1.js")
    script(src="/js/bootstrap.js")

